body {
	background: #f5f5f5;
	font-family:"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	color: #111;
	font-size: 18px;
	text-align: left;
}
a{ color: #a90202; }
#wrapper {
	position: relative;
	padding-top: 40px;
	width: 550px;
	margin: 0 auto;
}
#typist h1 {
	font-size: 32px;
	font-weight: bold;
	margin-right: 8px;
}
#typist h1, h2 {
	display: inline-block;
}
	#typist textarea {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		height: 350px;
		font-size: 16px;
		line-height: 1.5;
		padding: 20px 0;
		margin: 10px 0;
		border: none;
		outline: none;
		background: #f5f5f5;
		-webkit-appearance: none;
		font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	}
		
	#typist input {
		padding: 0;
		margin: 11px 0;
		height: 40px;
		width: 100%;
		border: 1px solid #111;
		display: block;
		background-color: #111;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(51, 51, 51)), to(rgb(17, 17, 17)));
		background-image: -webkit-linear-gradient(top, rgb(51, 51, 51), rgb(17, 17, 17));
		background-image: -moz-linear-gradient(top, rgb(51, 51, 51), rgb(17, 17, 17));
		background-image: -o-linear-gradient(top, rgb(51, 51, 51), rgb(17, 17, 17));
		background-image: -ms-linear-gradient(top, rgb(51, 51, 51), rgb(17, 17, 17));
		background-image: linear-gradient(top, rgb(51, 51, 51), rgb(17, 17, 17));
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#333333', EndColorStr='#111111');
		cursor: pointer;
		font-size: 16px;
		font-weight: bold;
		color: #FFF;
	}
	
	.title {
		font-size: 42px;
		margin-bottom: 20px;
	}
	
	footer {
		border-top: 1px solid #ccc;
		clear: both;
	}
		footer h3 {
			display: inline-block;
			color: #ccc;
			font-weight: 500;
			font-size: 16px;
			
		}
			footer h3:last-of-type {
				float: right;
			}
			footer b {
				font-weight: bold;
				float: none !important;
			}
	
#preview {
	line-height: 1.3;
}

.popover h1{
	font-size: 42px;
	margin: 10px 0;
}
.popover h2 {
	font-weight: normal;
	margin-top: 10px;
}
.popover>h3 {
	font-weight: normal;
	font-style: italic;
}
.popover ul {
	list-style-type: none;
}
.popover>ul {
	padding-left: 0;
}
	.popover ul li {
		margin: 25px 0;
	}
		.popover ul li h3 {
			margin: 0;
		}
		.popover ul li p {
			margin: 5px 0 0;
		}
.popover {
	padding-bottom: 40px;
}
.popover .okay {
	text-align: center;
	display: block;
	font-size: 30px;
}
.popover button.okay {
	font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	font-weight: bold;
	position: relative;
	-webkit-appearance: none;
	border-radius: 10px;
	border: none;
	padding: 10px 20px;
	width: 140px;
	left: 50%;
	margin-left: -70px;
	color: #fff;
	background: #111;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
	.popover button.okay:hover {
		background-color: #a90202;
	}
	.popover button.okay:active {
		opacity: 0.8;
	}
#url {
	position: absolute;
	top: 221px;
	background: rgba(0,0,0,0.7);
	width: 510px;
	padding: 20px;
	border-radius: 5px;
}
	#url input {
		width: 504px;
		height: 30px;
		font-size: 28px;
		font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
		margin-bottom: 5px;
	}
	#url a {
		display: block;
		color: #fff;
		font-size: 20px;
	}
.fade {
	opacity: 0.6;
}
@media only screen and (device-width: 1024px) and (orientation: landscape) {
	#wrapper {
		width: 700px;
	}
}
@media only screen and (device-width: 1024px) and (device-height: 768px) {
	#typist textarea {
		font-size: 18px;
	}
}
@media only screen and (device-width: 320px) and (device-height: 480px) {
	#wrapper {
		padding-top: 0;
		width: 280px;
	}
	#typist h2 {
		display: none;
	}
	#typist textarea {
		font-size: 18px;
		height: 160px;
		margin-bottom: 50px;
		-webkit-overflow-scrolling: touch;
	}
}
@media only screen and (device-width: 320px) and (device-height: 480px) and (orientation: landscape){
	#wrapper {
		width: 440px;
	}
	#typist textarea {
		margin-bottom: 5px;
	}
}
