body {
	background: #f5f5f5;
	font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
	color: #111;
	font-size: 16px;
	text-align: left;
	line-height: 1.7;
}
	.dark, body.dark #typist textarea, body.dark #url input {
		background: #222;
		color: #dfdfdf;
	}
a{color: #a90202;}
	body.dark a{color: #5cb1e4;}

#wrapper {
	position: relative;
	padding-top: 40px;
	max-width: 550px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;
}
	.title {
		font-size: 42px;
		margin-bottom: 20px;
	}
blockquote {
	border-left: 7px solid #dfdfdf;
	margin-left: 0;
	padding-left: 15px;
}
	body.dark blockquote {
		border-color: #555;
	}
@media only screen and (device-width: 1024px) and (device-height: 768px), only screen and (device-width: 320px) and (device-height: 480px){
	body {
		font-size: 18px;
	}
}
@media only screen and (device-width: 320px) and (device-height: 480px){
	#wrapper {
		padding-top: 0;
	}
	body{
		line-height:1.6;
	}
}