extends layout

block head
	link(rel='stylesheet', href='/stylesheets/index.css')
	script.
		var text;
		window.onload = function() {
			text = document.getElementById("text");
			text.focus();
			window.scrollTo(0,1);
		}
		window.onkeydown = function() {
			if(text != document.activeElement) {
				text.focus();
			}
		}

block content
	h1 Textlr
	#upload
		form(id="texts", method="post", action="/")
			textarea#text.boxfix(placeholder="Just start typing…",name="text")
			input(type="submit",value="Upload")#enter.boxfix
