doctype html
html
	head
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
		link(rel='stylesheet', href='/stylesheets/style.css')
		block head
	body
		#wrapper
			block content
