extends layout

block content
	h1 Textlr

	article
		h2
			b THIS DOCUMENT DOES NOT CONSTITUTE A BINDING POLICY AND/OR A LEGAL AGREEMENT AND IN NO WAY SHOULD BE CONSTRUED AS SUCH.
		hr
		h2 Privacy Policy
		p There is none.
		p I&rsquo;m not versed in legalese and don&rsquo;t intend to pretend to be to write a privacy policy. If you're really worried about this, Textlr is #[a(href="https://github.com/Zyber17/Textlr") open source] and in the public domain, just go host your own version. But, if you want something more casual&hellip;
		hr
		h4 I don't intend to
		ul
			li use any tracking or analytics services on Textlr such as Google Analytics
			ul
				li although, you should note Textlr&rsquo;s DNS is provided through #[a(href="https://www.cloudflare.com/") CloudFlare], which does track some analytics
			li collect any data about you except that which you voluntarily upload to Textlr (and that tracked by CloudFlare)
			li sell any data acquired by or uploaded to Textlr
		h4 I do not guarantee that I #[em won&rsquo;t]
		ul
			li delete uploads from Textlr&rsquo;s database
			li suspend the service
		h4 You should consider
		ul
			li all of #[em your] uploads to be released into the public domain under the #[a(href="https://creativecommons.org/publicdomain/zero/1.0/") CC0 license]
			li all of #[em everyone else&rsquo;s] uploads to be copyrighted to the fullest extent allowed by law
			li none of your uploads to be private from anyone
