extends layout

block content
	h1 Textlr

	article
		h2 Privacy Policy
		p There is none.
		p I’m not versed in legalese and don’t intend to pretend to be to write a privacy policy. If you're really worried about this, Textlr is #[a(href="https://github.com/Zyber17/Textlr") open source] and in the public domain, just go host your own. But, if you want something more casual…
		hr
		h3 THE FOLLOWING IS NOT A PRIVACY POLICY AND IN NO WAY SHOULD BE CONSTRUED AS LEGALLY BINDING
		h4 I don't intend to
		ul
			li use any tracking or analytics services on Textlr such as Google Analytics
			ul
				li although, you should note Textlr’s DNS is provided through #[a(href="https://www.cloudflare.com/") CloudFlare], which does do some analytics
			li track any data about you except that which you upload to Textlr
			li sell any uploads or other data acquired by Textlr, but do note that the website is publicly available
		h4 I do not guarantee that I won’t
		ul
			li delete texts off of Textlr
			li suspend the service
		h4 You should consider
		ul
			li all of your uploads to be released into the public domain
			li none of your uploads to be private from anyone